
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #fff;
    text-align: center;
}


header {
    background-color: #000000;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 10;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 190px;
    list-style-type: none;
}

header nav ul li a {
    color: #676767;
    font-size: 1.1em;
    letter-spacing: 1px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #563c87;
}


#hero {
    justify-content: flex-start;
    background-color: #000000;
    padding: 250px 200px 100px;
    position: relative;
    color: #fff;
    text-align: left;
}

.hero-content h1 {
    font-size: 2.5em;
    font-family: golos, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 500px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 80px;
    font-weight: lighter;
    color: #D8D9DA;
}

#inscricao {
    display: inline-block;
    margin-left: 0px;
    margin-top: -18px;
}

#inscricao input {
    padding: 08px;
    width: 340px;
    font-size: 1.1em;
    border-radius: 40px;
    border: 2px solid #ffffff;
    margin-bottom: 20px;

}

#inscricao button {
    padding: 10px 25px;
    font-size: 1.1em;
    background-color: rgba(61, 43, 95, 1);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#inscricao button:hover {
    background-color: #732d91;
}

#inscricao input, #inscricao button {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}


.logo {
    position: absolute;
    bottom: 100px;
    right: 180px;
    width: 490px;
}

